<ion-view view-title="Dag toevoegen">
  <ion-content>
      <div class="list">
          <div class="list">

            <label class="item item-input item-select">
              <div class="input-label">
                Dag
              </div>
              <select ng-model="dayList"
                      ng-options="number as number for number in range">
              </select>
            </label>


            <label class="item item-input item-select">
              <div class="input-label">
                Month
              </div>
              <select ng-model="monthList"
                      ng-options="month as month.name for month in months">
              </select>
            </label>

          </div>
          <span class="extra">Voer tijden in in format: 14:00</span>
          <span class="extra error" ng-hide="errorHidden">Voer alle velden correct in</span>
          <label class="item item-input item-floating-label">
            <span class="input-label">Begintijd*</span>
            <input type="text" ng-model="day.startTime" placeholder="Begintijd">
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Eindtijd*</span>
            <input type="text" ng-model="day.endTime" placeholder="Eindtijd">
          </label>
           <label class="item item-input item-floating-label">
            <span class="input-label">Pauze</span>
            <input type="text" ng-model="day.break" placeholder="Pauze" >
          </label>
          <label class="item item-input item-floating-label">
            <span class="input-label">Bijzonderheden</span>
            <textarea placeholder="Bijzonderheden" ng-model="day.addition"></textarea>
          </label>

          <!-- CAMERA AND MAP-->
          <button ng-click="openCamera()" class="btn_addphoto">Voeg foto toe</button>
          <button ng-click="openMap()" class="btn_addLocation">Voeg locatie toe</button>
          
          <div ng-hide="hidden" id="map-canvas"></div>
          {{error}}
          <img ng-src="{{imgURI}}" class="thumbnailImage" ng-model="day.imgURI">

          
          

          <!-- SUBMIT -->
          <button class="button_submit" ng-click="saveDay()">Toevoegen</button>

        </form>
      </div>
   	
  </ion-content>
</ion-view>